@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Raleway:ital,wght@1,200&display=swap");

.titleText {
  font-size: 48px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

.contentText {
  font-size: 26px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
